execute-query/src/main/mule/execute-query.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1be4019b-81c1-4c20-9104-10f1082601fb" basePath="/api/v1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="f904bb4b-4256-43c8-92b1-a43c41e2ddf3" >
		<db:my-sql-connection host="172.17.0.2" port="3306" user="factura" password="factura" database="facturams" />
	</db:config>
	<flow name="execute-queryFlow" doc:id="cfd396bd-3104-4c9f-95ea-132edf921d04" >
		<http:listener doc:name="Listener" doc:id="7400a8a3-2009-4c07-8882-474f45c3fff7" config-ref="HTTP_Listener_config" path="/execute-query"/>
		<logger level="INFO" doc:name="Logger" doc:id="e2c4d771-3a6c-40f3-b7cc-6e422a5d19ed" message="#[payload]"/>
		<db:query-single doc:name="Query single" doc:id="a844af52-0778-42b2-93c7-e3b1c7202cb7" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM factura;]]></db:sql>
		</db:query-single>
	</flow>
</mule>
