xpath-get-value/src/main/mule/xpath-get-value.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6e3248c8-1f61-4c4b-8279-58ac4001750e" basePath="/api/v1" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="xpath-get-valueFlow" doc:id="6b1cf17e-76b9-4a94-8f49-1b229a290c90" >
		<http:listener doc:name="Listener" doc:id="8ad0d4c3-9d18-429a-9d98-5a2d18781e08" config-ref="HTTP_Listener_config" path="/xpath-get-value"/>
		<xml-module:xpath-extract doc:name="Xpath extract" doc:id="f7147f98-4765-472a-afc6-1c81830c17b0" xpath='#["//catalog/cd[1]/artist/text()"]'/>
	</flow>
</mule>
